.grid-container-day {
    display: grid;
    grid-template-columns: 0.6fr 1.3fr 0.9fr 1.7fr 0.5fr;
    grid-template-rows: 0.2fr 1.7fr 0.9fr 1.9fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header Header Header"
      ". Info Entries Entries ."
      ". StickersAdd Entries Entries ."
      ". StickersAdd New-Entries New-Entries ."
      ". . . . .";
  }
  
  .Info { grid-area: Info; 
   padding-top: 10px;
}
.sticker-day-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: red 2px; */
  /* overflow-x: auto;
  max-height: 400px; */
  overflow-x: auto;
  max-height: 250px;
}
.sticker-day {
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 6px;
  margin: 5px;
  padding: 4px;
  max-width: 110px;
  width: 110px;
}
.sticker-day button{
  position: relative;
  top: -35px;
  right: -5px;
  /* padding: 5px; */
  /* float: right; */
  /* margin-bottom: 4px; */
  border-radius: 18px;
  background-color: rgb(220, 20, 60, .1);
}


.Date a {
   font-size: 36px; 
   padding: 8px;
}
  
  .Entries { grid-area: Entries; 

    max-width: 720px;
    width: 720px;
    border-radius: 6px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.438);

}

.entries-wrap{
  overflow-y: auto;
  max-height: 400px;
}
  
  .Header { grid-area: Header; }

  
  .New-Entries { grid-area: New-Entries; 
    background-color: rgba(255, 255, 255, 0.438);
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 6px;
    padding: 6px;
  }
  .New-Entries-textarea-1{
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 90%; 
  }

  .New-Entries-textarea-2{
    /* width: 500px; */
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 4px;
  }
  .New-Entries button{ 
    margin: 6px;
  }
  .ImageUpload{
    
  }
  
  .StickersAdd { grid-area: StickersAdd; }



  .sticker-wrap {
    /* border: 1px solid black; */
    /* padding: 9px;
    margin: 10px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* border: red 2px; */
    overflow-y: auto;
    max-height: 400px;
  }
.sticker {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
    margin: 3px;
    padding: 4px;
}
.sticker a {
    padding: 4px;
}

.sticker button {
    float: right;
    margin-bottom: 4px;
    border-radius: 15px;
    background-color: rgb(220, 20, 60, .1);
}




/* <div class="grid-container">
  <div class="Info"></div>
  <div class="Entries"></div>
  <div class="Header"></div>
  <div class="New-Entries"></div>
  <div class="StickersAdd"></div>
</div> */