.App {
  text-align: center;
}


.Wholecalendar {
  text-align: center;
    

}

.calendar {
  margin: auto;
  max-width: 840px;
  width: 840;
  padding: 20px solid aqua;
  border: 5px solid rgb(17, 255, 176);
  background-color: aquamarine;
}

/* not being used  */
.calendarbackground{ 
  max-width: 860px;
  width: 860px;
  border: 5px brown;

}

.calendarDayLabels {
  max-width: 118px;
  width: 118px;
  float: left;
  max-height: 48px;
  height: 48px;
  border: 1px solid black;
  
}

.calendarDay {
  max-width: 118px;
  width: 118px;
  float: left;
  max-height: 68px;
  height: 68px;
  border: 1px solid black;
}


.weekdays{
  flex-flow: column wrap;
}


